#container{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 10px 0px 0px 0px;
  border-radius: var(--corner-radius-medium);

  #title{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
    #image{
      display: flex;
      width: 35%;
      justify-content: flex-end;
      align-items: center;
      margin-right: 12px;
    }
  }

  #contents{
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 8px 16px 24px 16px;
    font-weight: var(--font-weight-medium);
    font-size: var(--base-width-xsmall);
    border-radius: var(--corner-radius-regular);

    .inputContents{
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      span{
        font: var(--gray5-color);
        margin-bottom: 4px;
      }
      input{
        background-color: var(--gray1-color);
        border: 2px solid var(--gray2-color);
        padding: 14px 17px 13px 17px;
        border-radius: var(--corner-radius-regular);
      }
      input:placeholder{
        font: var(--gray3-color);
        font-size: var(--font-size-xsmall);
      }
    }

    #buttonContents{
      display: flex;
      justify-content: center;
      border: 2px solid var(--gray2-color);
      padding: 12px 147px;
      margin-top: 8px;
      border-radius: var(--corner-radius-regular);
      cursor: pointer;
    }
  }
}