@use '../helpers' as fn;
  
  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    $px-to-margin : fn.px-to-percent(262, 350);
    margin-right: $px-to-margin;
    // margin-right: 262px;
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-medium);
    white-space: nowrap; /* 줄바꿈 방지 */
    color: var(--gray4-color);

    #button{
        display: flex;
        justify-content: center;
        background-color: var(--white-color);
        padding: 2px 10px 1px 22px;
        margin-bottom: 4px;
        border: 1px solid var(--gray2-color);
        border-radius: var(--corner-radius-small);
        font-size: var(--font-size-xsmall);
        font-weight: var(--font-weight-semibold);
        white-space: nowrap; /* 줄바꿈 방지 */
        cursor: pointer;
        #contents{
          display: flex;
          #title{
            display: flex;
            justify-content: center;
            margin-right: 4px;
          }
        }
      }
    
    #sortOptions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--white-color);
        border: 1px solid var(--gray2-color);
        border-radius: var(--corner-radius-small);
        font-size: var(--font-size-xsmall);
        font-weight: var(--font-weight-medium);
        white-space: nowrap; /* 줄바꿈 방지 */
        color: var(--gray4-color);

        .sortOption {
            display: flex;
            justify-content: center;
            padding: 4px 0;
            cursor: pointer;
          }
        .sortOption:not(:nth-child(5)) {
            border-bottom: 1px solid var(--gray2-color);
          }
    }
      
  }