@use '../../../helpers' as fn;
#container{
    display: flex;
    height: 100vh;
    align-items: center;
    #contents{
        width: 100%;
        #logo{
            margin-bottom: fn.px-to-percent(24, 512);
        }
        form{
            #inputContainer{
                display: flex;
                flex-direction: column;
                margin-bottom: fn.px-to-percent(16, 512);
                .inputContents{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 16px;
                    position: relative;
                    :last-child{
                    margin-bottom: 0;
                    }
                    .inputText{
                      color: var(--black-color);
                      font-size: var(--font-size-regular);
                      font-weight: var(--font-weight-medium);
                      margin-bottom: 4px;
                      span{
                        color: var(--negative-error-cancel);
                      }
                    }
                        .input{
                        display: flex;
                        align-items: center;
                        background-color: var(--gray1-color);
                        border-radius: var(--corner-radius-regular);
                        border: 1px solid var(--gray1-color);
                        padding: 16px 24px;
                        margin: 0;
                            input{
                                width: 100%;
                                font-size: var(--font-size-small);
                                color: var(--gray4-color);
                                font-weight: var(--font-weight-medium);
                                background: none;
                                margin: 0;
                                &::placeholder{
                                    color: var(--gray3-color);
                                    font-size: var(--font-size-small);
                                    font-weight: var(--font-weight-light);
                                }
                            }
                        }
                        .inputError{
                            display: flex;
                            align-items: center;
                            background-color: var(--gray1-color);
                            border-radius: var(--corner-radius-regular);
                            border: 1px solid var(--negative-error-cancel);
                            padding: 16px 24px;
                            margin: 0;
                            input{
                                width: 100%;
                                font-size: var(--font-size-small);
                                color: var(--gray4-color);
                                font-weight: var(--font-weight-medium);
                                background: none;
                                margin: 0;
                                &::placeholder{
                                    color: var(--gray3-color);
                                    font-size: var(--font-size-small);
                                    font-weight: var(--font-weight-light);
                                }
                            }
                        }
                    p{
                        display: flex;
                        position: absolute;
                        text-align: end;
                        bottom: -20px;
                        right: 0;
                        color: var(--negative-error-cancel);
                        font-size: var(--font-size-xxsmall);
                        font-weight: var(--font-weight-medium);
                    }
                }
            }
            button{
                margin-top: fn.px-to-percent(32, 512);
                width: 100%;
            }
        }
    }
}
#siren{
        width: 100%;
        height: 100%;
        max-width: 350px;
        max-height: 200px;
}