#container{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 12px 12px 22px 24px;
  font-size: var(--font-size-xsmall);
  border-radius: var(--corner-radius-medium);
  border: 2px solid var(--gray2-color);
  cursor: pointer;
  .managerBar {
    position: absolute;
    top: -24px; /* 위로 13px */
    left: 90px;
  }
  #clickArea{
    position: absolute;
    top: 12%;
    right: 4%;
    opacity: 0;
    width: 27px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
  }
  // #clickArea:hover{
  //   background-color: tomato;
  //   opacity: 0.5;
  // }
  .image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
    padding-top: 10px;
  }
  #buttonContents{
    display: flex;
    justify-content: space-between;
    #contents{
      #name{
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-bold);
        margin-bottom: 3px;
      }
      .image{
        margin-top: 19px;
        padding: 0;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 480px) {
  #container {
    .managerBar {
      left: 70px;
    }
  }
}