.container {
  background-color: var(--primary-color);
  width: 100%;
  padding: 16px 0;
  border-radius: var(--corner-radius-medium);
  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    #bolt {
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-large);
      color: var(--black-color);
      margin-bottom: 8px;
    }
    #nut {
      font-size: var(--font-size-regular);
      color: var(--gray5-color);
    }
  }
}
