@mixin flex($direction: row, $align-items: center, $justify-content: center, $gap: null){
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;
  gap: $gap;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  @include flex(column, $gap: 71px);
  height: 100%;
  min-height: 932px;
  width: 100%;
  .contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    span {
      color: var(--gray5-color);
      font-size: var(--font-size-small);
      text-align: center;
    }

    .gameContainer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--gray2-color);
    }

    .selectContainer {
      margin-top: 12px;
      @include flex($gap: 32px, $justify-content: flex-start);
      .select {
        min-width: 131px;
        @include flex($gap: 8px, $align-items: flex-start);
        .number {
          @include flex();
          width: 27px;
          height: 27px;
          border-radius: 50%;
          border: 1px solid var(--gray2-color);
          color: var(--black-color);
          font-size: var(--font-size-small);
          background-color: var(--gray1-color);
        }
        .bolt {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 96px;
          width: 100%;
          min-height: 68px;
          height: 100%;
          background-color: var(--white-color);
          border: 2px solid var(--gray2-color);
          border-radius: var(--corner-radius-large);
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-bold);
          }
        }
      }
    }
  }
  .toryContainer {
    @include flex($gap: 24px);
    .image {
      display: flex;
      flex: 1;
    }
    .toryText {
      font-family: 'S-CoreDream-3Light';
      color: var(--gray5-color);
    }
  }
}

// stage2 스타일
.second {
  min-height: 800px;
  padding-top: 100px;
  .screw {
    @include flex();
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    border-radius: var(--corner-radius-large);
    border: 2px solid var(--gray2-color);
    margin-bottom: 20px;
    cursor: pointer;
    span {
      color: var(--gray4-color);
      font-size: var(--font-size-large);
      font-weight: var(--font-weight-bold);
    }
    &:first-child {
      margin-bottom: 40px;
      cursor: auto;
    }
  }
  .correct {
    border: none;
    background-color: var(--primary-color);
    span {
      color: var(--black-color);
    }
  }
  .wrong {
    border: none;
    background-color: var(--negative-error-cancel);
    span {
      color: var(--black-color);
    }
  }
  @media (max-width: 400px) {
    padding-top: 0px;
    .doorContainer {
      gap: 0;
    }
  }
}

// stage3 스타일
.third {
  min-height: 800px;
  padding-top: 100px;
  .contents {
    gap: 36px;
  }
  .doorContainer {
    @include flex($gap: 9px);
    border-bottom: 1px solid var(--gray2-color);
    padding-bottom: 36px;
    
  }

  @media (max-width: 400px) {
    padding-top: 0px;
    .doorContainer {
      gap: 0;
    }
  }
}

