@use './helpers' as fn;

/* 전역 변수 선언 */
:root {
  --standard-font-size : 16px;
  // 색상
  --primary-color: #97EB0D;
  --black-color : #1B1B1B;
  --black-shadow1-color : #00000033;
  --black-shadow2-color : #00000024;
  --gray5-color : #3D3D3D;
  --gray4-color : #636363;
  --gray3-color : #A1A1A1;
  --gray2-color : #D6D6D6;
  --gray1-color : #F1F1F1;
  --white-color : #FFFFFF;
  --negative-error-cancel : #E5797B;
  --positive-success : #61C987;

  // 그림자 blur
  --effects-style-shadow1 : 12px;
  --effects-style-shadow2 : 10px;

  // 폰트 스타일
  --font-family: 'Pretendard', sans-serif; /* 폰트 설정 */
  --font-weight-bold: 700; /* Bold */
  --font-weight-semibold: 600; /* Semibold */
  --font-weight-medium: 500; /* Medium */
  --font-weight-light: 300; /* Light */
  --letter-spacing: -4%; /* letter-spacing */

  // 폰트 사이즈
  --font-size-large: fn.px-to-rem(30,var(--standard-font-size));
  --font-size-medium: fn.px-to-rem(24,var(--standard-font-size));
  --font-size-regular: fn.px-to-rem(20,var(--standard-font-size));
  --font-size-small: fn.px-to-rem(16,var(--standard-font-size));
  --font-size-xsmall: fn.px-to-rem(14,var(--standard-font-size));
  --font-size-xxsmall: fn.px-to-rem(12,var(--standard-font-size));

  // corner-radius
  --corner-radius-large: fn.px-to-rem(80,var(--standard-font-size));
  --corner-radius-medium: fn.px-to-rem(20,var(--standard-font-size));
  --corner-radius-regular: fn.px-to-rem(16,var(--standard-font-size));
  --corner-radius-small: fn.px-to-rem(8,var(--standard-font-size));
}

// 기본 리셋
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 태그 기본 리셋
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input {
  outline: none;
  border: none;
  background: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


// 전체 레이아웃 기본 스타일
body {
  font-family: var(--font-family);
  line-height: 1.5;
  // color: #333;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 430px;
  // min-width: 366px;
  margin: 0 auto;
  padding: 0 40px; //padding을 통해서 여백을 만들어낼 수 있다.
}

// 웹에서 최소 일때 꽉찬 화면으로 수정
@media (max-width: 370px) { //iphone 370px에서 반응하게 할지
  body {
    padding: 0; /* 특정 구간에서 padding 제거 */
    // max-width: 500px;
  }
}


