#container{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 10px 0px 0px 0px;
  border-radius: var(--corner-radius-medium);
  
  #title{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
    #image{
      display: flex;
      width: 35%;
      justify-content: flex-end;
      align-items: center;
      margin-right: 12px;
      img{
        cursor: pointer;
      }
    }
  }

  #contents{
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 8px 16px 24px 16px;
    font-weight: var(--font-weight-medium);
    font-size: var(--base-width-xsmall);
    border-radius: var(--corner-radius-regular);

    .inputContents{
      display: flex;
      flex-direction: column;
      margin-top: 16px;
    
      span{
        font: var(--gray5-color);
        margin-bottom: 4px;
      }
      input{
        // margin-top: 8px;
        background-color: var(--gray1-color);
        border: 2px solid var(--gray2-color);
        padding: 14px 17px 13px 17px;
        border-radius: var(--corner-radius-regular);
      }
      input:placeholder{
        font: var(--gray3-color);
        font-size: var(--font-size-xsmall);
      }
    }

    #createInput{
      // background-color: tomato;
      display: flex;
      justify-content: space-between;
      border-radius: var(--corner-radius-regular);
      background-color: var(--gray1-color);
      border: 2px solid var(--gray2-color);
      margin-bottom: 8px;
      input {
        display: flex;
        width: 100%;
        background-color: transparent !important; /* 초기화 */
        border: none !important; /* 초기화 */
      }

      div{
        display: flex;
        align-items: center;
        // margin-top: 8px;
        img{
          // display: flex;
          width: 24px;
          height: 24px;
          margin-right: 12px;
          cursor: pointer;
          // justify-content: center;
          // align-items: center;
        }
      }

    }

    #buttonContents{
      display: flex;
      justify-content: center;
      border: 2px solid var(--gray2-color);
      // margin-top: 8px;
      border-radius: var(--corner-radius-regular);

      #button{
        display: flex;
        justify-content: center;
        padding: 12px 147px;   
        cursor: pointer;
      }
    }
  }
}

.button, .submit{
  width: 100%;
  background-color: var(--gray2-color);
  border-radius: var(--corner-radius-large);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 24px;
  cursor: pointer;
  color: var(--gray4-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

.submit{
  background-color: var(--primary-color);
  button{
    color: var(--black-color);
  }
}